      @keyframes redToYellow {
        from {background-color: red;}
        to {background-color: yellow;}
      }
      body {
        width: 100%;
        height: 100%;
        background-color: red;
        animation-name: redToYellow;
        animation-duration: 4s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
      }
